body{
  font-family: 'Karla';
  background-color: #ddd;
}

h1 {
  color: #454545;
  text-align: center;
}

#calculator{
  width: 260px;
  display: block;
  margin: 0 auto;
  border: 2px solid #ccc;
  border-radius: 4px;
  border-bottom: 8px solid #ccc;
  padding: 20px;
}

#screen{
  height: 50px;
  background: #fff;
  margin-bottom: 10px;
  border: 2px solid #ccc;
  border-radius: 4px;
}

.row{
  clear: both;
}

.num,
.ops,
.equals,
#clear{
  width: 50px;
  height: 50px;
  border: 1px solid #ddd;
  border-bottom: 4px solid #ccc;
  border-radius: 4px;
  margin: 5px;
  outline: none;
  
}

